{% extends "base.html" %}

{% block content %}
    <h2 class="mb-4">
        {% if object %}
            Update Task
        {% else %}
            Add a new Task
        {% endif %}
    </h2>

    <form method="post" class="w-50">
        {% csrf_token %}
        
        <!-- Отрисовка полей формы -->
        {{ form.as_p }}
        
        <div class="mt-4">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url "todolist:task-list" %}" class="btn btn-secondary ms-2">Cancel</a>
        </div>
    </form>
{% endblock %}